@import url(//fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: 'Rubik', sans-serif;
    width: 270px;
    text-align: center;

    
}
.rusticLogo{
    width: 270px;
    text-align: center;
    
}




