---
import AboutHeroImage from '../../assets/blog-placeholder-about.jpg';
import Layout from '../../layouts/BlogPost.astro';
---

<Layout
    title="Nosotros"
    description="Lorem ipsum dolor sit amet"
    pubDate={new Date('August 08 2021')}
    heroImage={AboutHeroImage}
>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Vitae ultricies leo integer malesuada nunc vel risus commodo
        viverra.
    </p>
</Layout>
